# Archivos y directorios específicos de JSP
/web/target/

# Archivos y directorios específicos de IDE
.idea/
*.iml
*.iws
*.ipr
/out/
/target/

# Archivos y directorios específicos de Docker
/.dockerignore
